body {
  font-family: Georgia;
  font-size: 16pt;
  line-height: 1.5;
  background-color: #848484;
  color: #F5F5F5;
  text-align:center;
}

h1 {
  font-weight: 700;
}

h2 { 
  font-weight: 500;
}

p {
  font-weight: 200;
}